<!DOCTYPE html>
<html>
  <head>
    <title>Machine Learning Maracas</title>
    <meta charset="utf-8">
    <meta name="description" content="Send device orientation over OSC">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  </head>

  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            ML Maracas
          </h1>
          <p class="subtitle is-7">
            send your mobile device's orientation to an OSC server
          </p>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <form id="configForm">
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">WebSocket Address</label>
                <div class="control">
                  <input class="input" name="address" type="text" value="<%= address %>">
                </div>
              </div>
            </div>

            <div class="column">
              <div class="field">
                <label class="label">WebSocket Port</label>
                <div class="control">
                  <input class="input" name="port" type="text" value="<%= port %>">
                </div>
              </div>
            </div>

            <div class="column">
              <div class="field">
                <label class="label">OSC Path</label>
                <div class="control">
                  <input class="input" name="path" type="text" value="/inputs">
                </div>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <div class="field">
                <div class="control">
                  <input type="submit" class="button is-primary" value="Connect">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="level has-text-centered is-mobile">
              <div class="level-item">
                <div>
                  <p class="heading">Orient - X</p>
                  <p class="title" id="ox">--</p>
                </div>
              </div>

              <div class="level-item">
                <div>
                  <p class="heading">Orient - Y</p>
                  <p class="title" id="oy">--</p>
                </div>
              </div>

              <div class="level-item">
                <div>
                  <p class="heading">Orient - Z</p>
                  <p class="title" id="oz">--</p>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="level has-text-centered is-mobile">
              <div class="level-item">
                <div>
                  <p class="heading">Accel X</p>
                  <p class="title" id="ax">--</p>
                </div>
              </div>

              <div class="level-item">
                <div>
                  <p class="heading">Accel Y</p>
                  <p class="title" id="ay">--</p>
                </div>
              </div>

              <div class="level-item">
                <div>
                  <p class="heading">Accel Z</p>
                  <p class="title" id="az">--</p>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="level has-text-centered is-mobile">
              <div class="level-item">
                <div>
                  <p class="heading">Rotate X</p>
                  <p class="title" id="rx">--</p>
                </div>
              </div>

              <div class="level-item">
                <div>
                  <p class="heading">Rotate Y</p>
                  <p class="title" id="ry">--</p>
                </div>
              </div>

              <div class="level-item">
                <div>
                  <p class="heading">Rotate Z</p>
                  <p class="title" id="rz">--</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="/javascripts/osc-browser.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
