<!DOCTYPE html>
<html>
  <head>
    <title>Machine Learning Maracas</title>
    <meta charset="utf-8">
    <meta name="description" content="Send device orientation over OSC">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  </head>

  <body class="has-text-centered">
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-4">
            MASS MEOW METRONOME
          </h1>
          <p class="subtitle is-7">
            NYU IDM Sound Studio Spring 2019
          </p>
        </div>
      </div>
    </section>

    <section class="section" id="main-section" data-address="<%= address %>">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="level is-mobile">
              <div class="level-item">
                <div>
                  <p class="heading">Metronome Rate</p>
                  <p class="title" id="metro-rate"><%= metroRate %></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column is-half">
            <img id="cat-button-increase" class="button" src="/images/cat.png" alt="cat increase" />
          </div>

          <div class="column is-half">
            <img id="cat-button-decrease" class="button" src="/images/cat2.png" alt="cat increase" />
          </div>

        </div>
      </div>
    </section>

    <script src="/javascripts/osc-browser.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
